.shopping_cart {
    background-image: linear-gradient(to right, rgb(75, 170, 218), rgb(84, 172, 218));
    border: none;
    outline: none;
    transition: 0.4s;
}

.shopping_cart h4 {
    color: #1c1c1c;
}

.btn-close {
    transform: translateY(-6px);
}

.decrease-item, .increase-item {
    width: 32px;
    height: 32px;
}

.delete_icon {
    transform: translateY(1px);
}

.cart_quantity {
    margin: 0;
    transform: translateY(1px);
}

.order_btn {
    color: black;
    background-color: #fefbe7;
    text-decoration: none;
    padding: 10px 26px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    border: none;
}

.order_btn:hover {
    background-color: #f3ecd2;
}

#total-price {
    color: #0c0c0c;
    font-weight: 450;
}

@media (max-width: 600px) {
    .order_btn {
        font-size: 13px;
        padding: 10px 20px;
    }
}