.shopping_cart {
    background-color: #59b6e7;
    border: none;
    outline: none;
    transition: 0.4s;
}

.shopping_cart h4 {
    color: #1c1c1c;
}

.decrease-item, .increase-item {
    width: 30px;
    height: 30px;
    border: none;
}

.decrease-item:hover , .increase-item:hover {
    opacity: 0.9;
}

.delete_icon {
    transform: translateY(1px);
}

.cart_quantity {
    margin: 0;
    transform: translateY(1px);
}

.order_btn {
    color: black;
    background-color: #fefbe7;
    text-decoration: none;
    padding: 10px 26px;
    border: none;
}

#total-price {
    color: #0c0c0c;
    font-weight: 450;
}

@media (max-width: 600px) {
    .order_btn {
        font-size: 13px;
        padding: 10px 20px;
    }
}