@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
            180deg,
            hsl(201deg, 96%, 70%) 0%,
            hsl(204deg, 95%, 75%) 2%,
            hsl(206deg, 92%, 80%) 4%,
            hsl(207deg, 89%, 83%) 6%,
            hsl(208deg, 86%, 85%) 8%,
            hsl(209deg, 80%, 87%) 10%,
            hsl(210deg, 73%, 88%) 12%,
            hsl(211deg, 61%, 90%) 15%,
            hsl(211deg, 41%, 92%) 20%,
            hsl(0, 0%, 96%) 50%,
            white 100%
    );

}

/* -- navbar -- */
nav {
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 6% 30px;
}

.nav-logo {
    width: 250px;
}

nav a {
    color: #212529;
}

nav a:hover {
    opacity: 0.9;
}

/*.dropdown-toggle {*/
/*    background-color: #343232;*/
/*    border: none;*/
/*}*/
/*.dropdown-toggle:hover {*/
/*    background-color: #545050;*/
/*}*/

.cart-icon {
    position: relative;
}

.counter {
    position: absolute;
    font-weight: 400;
    right: -16px;
    top: -14px;
}


/* -- herosection - */
.herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 120px;
    height: calc(100vh - 134px);
}

.herosection h1 {
    font-size: 30px;
    word-spacing: 5px;
    letter-spacing: 3px;
    line-height: 1.5;
}

.herosection span {
    color: #358bcb;
}

.herosection .hero_img {
    width: 450px;
}

@media (max-width: 800px) {
    .products {
        margin-top: 75px;
    }
    .herosection h1 {
        font-size: 24px;
    }

    .herosection .hero_img {
        width: 350px;
    }

    .herosection h3 {
        font-size: 20px;
    }

    .products .product_card {
        width: 90%;
    }

    .product_page .product_card {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .product_page img {
        margin-bottom: 30px;
    }
}

/* -- products - */
.products {
    margin-bottom: 50px;
}

.products .product_card {
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    max-width: 800px;
    padding: 25px;
}

.products .product_card .product_img {
    object-fit: cover;
    width: 150px;
    height: 275px;
    margin-right: 30px;
}

.products .product_card .card_div {
    transform: translateY(-9px);
}

.products .product_card .price {
    font-size: 18px;
}

.products .product_card a {
    padding: 6px 18px;
    border: 1px solid #3b82f6;
    width: fit-content;
}

.products .product_card a:hover {
    border: 1px solid #fff;
    background-color: #3b82f6;
    color: #fff;
}

/* -- product page -- */
.product_page {
    margin-top: 50px;
}
.product_page .product_card {
    max-width: 1000px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 50px;
}

.product_page .card_div {
    transform: translateY(-2px);
}

.product_page .price {
    font-size: 20px;
}

.product_page img {
    width: 200px;
    margin-right: 35px;
}

/* -- over ons-- */
.over_ons_hr {
    width: 250px;
    margin-bottom: 70px;
}

.over_ons p {
    margin-bottom: 60px;
    word-spacing: 2px;
}

/* -- contact - */
.contact p {
    word-spacing: 2px;
}

.contact a {
    color: white;
    background-color: #3b82f6;
    text-decoration: none;
    padding: 8px 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    border-radius: 3px;
    border: none;
}

.contact a:hover {
    background-color: #3776de;
}

/* -- contact page - */
.contact_page form {
    max-width: 800px;
    margin: 25px auto;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    border-radius: 8px;
    padding: 25px;
}

.contact_page h1 {
    margin-bottom: 25px;
}

.contact_page button {
    color: white;
    background-color: #3b82f6;
    text-decoration: none;
    padding: 6px 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    border-radius: 3px;
    border: none;
}

.contact_page button:hover {
    background-color: #3776de;
}
