<!-- Footer -->
<div class="mt-5"></div>
<footer class="text-center">
    <div class="d-flex justify-content-center gap-2 my-4">
        <i class="fa-brands fa-youtube fa-lg"></i>
        <i class="fa-brands fa-facebook fa-lg"></i>
        <i class="fa-brands fa-twitter fa-lg"></i>
    </div>
    <p>© ClearSkySolar | All Rights Reserved</p>
</footer>
