<div style="background-image: linear-gradient(
            180deg,
            hsl(201deg 75% 64%) 0%,
            hsl(201deg 75% 67%) 12%,
            hsl(202deg 74% 70%) 20%,
            hsl(202deg 74% 73%) 26%,
            hsl(203deg 74% 76%) 32%,
            hsl(203deg 74% 78%) 37%,
            hsl(204deg 73% 81%) 43%,
            hsl(204deg 73% 83%) 48%,
            hsl(204deg 73% 86%) 53%,
            hsl(205deg 73% 88%) 59%,
            hsl(205deg 73% 91%) 64%,
            hsl(205deg 73% 93%) 71%,
            hsl(205deg 73% 95%) 78%,
            hsl(206deg 73% 98%) 87%,
            hsl(0deg 0% 100%) 100%
    ); padding: 20px 10px;">
    <h1 style="margin: 0 0 10px 0; color: #0a0a0a;">ClearSky Solar</h1>

    <h2 style="color: #0a0a0a;">Beste {{ username }},</h2>

    <p style="font-size: 18px; font-weight: 550; color: #0a0a0a;">Je registratie is succesvol voltooid!</p>

    <p style="font-size: 16px; color: #0a0a0a;">Je kunt nu inloggen om toegang te krijgen tot jouw account.</p>

    <a href="http://localhost/clearskysolar/public/" style="color: black;
        padding: 7px 26px;
        background-color: #EFEFEF;
        text-decoration: none;
        border-style: solid;
        border-width: 3px;
        border-top-color: grey;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: grey; font-weight: bold;">Inloggen</a>
</div>