<div style="background-color: #79BEE2FF; padding: 20px 10px;">
    <h1 style="color: #0a0a0a; margin-top: 0; margin-bottom: 18px;">ClearSkySolar</h1>
    <h2 style="color: #0a0a0a;">Beste {{ username }},</h2>
    <p style="font-size: 18px; font-weight: 550; color: #0a0a0a;">Je registratie is succesvol voltooid!</p>
    <a href="http://localhost/clearskysolar/public/" style="color: black;
    background-color: #fefbe7;
    text-decoration: none;
    padding: 10px 26px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    border-radius: 3px;
    border: none;">Ga terug naar ClearSkySolar</a>
</div>