<div style="background-color: rgba(10,83,190,0.4); padding: 20px 10px;">
    <a href='http://localhost/clearskysolar/public/' target='_blank'><img src='https://i.postimg.cc/ncMzyQLk/logo-clearskysolar.png'
                                                           border='0' alt='logo-clearskysolar'/></a>
    <h2 style="color: #0a0a0a;">Beste {{ username }},</h2>

    <p style="font-size: 18px; font-weight: 550; color: #0a0a0a;">Je registratie is succesvol voltooid!</p>

    <a href="http://localhost/clearskysolar/public/" style="color: black;
    background-color: #fefbe7;
    text-decoration: none;
    padding: 10px 26px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    border-radius: 3px;
    border: 1px solid #222222;">Ga terug naar ClearSkySolar</a>
</div>