{% extends 'base.html.twig' %}

{% block body %}
    <div class="error_page">
    <h1>Error</h1>
    <p>Er is een fout opgetreden. Onze excuses voor het ongemak.</p>
    </div>
{% endblock %}
